name: CI

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Set up JDK 11
              uses: actions/setup-java@v1
              with:
                java-version: 11 
            - name: print mvn version
              run: mvn -v
            - name: 'Create settings.xml'
              run: |
                  echo '<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
                          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                                              http://maven.apache.org/xsd/settings-1.0.0.xsd">
                          <activeProfiles>
                            <activeProfile>github</activeProfile>
                          </activeProfiles>
                          <profiles>
                            <profile>
                              <id>github</id>
                              <repositories>
                                <repository>
                                  <id>central</id>
                                  <url>https://repo1.maven.org/maven2</url>
                                  <releases><enabled>true</enabled></releases>
                                  <snapshots><enabled>true</enabled></snapshots>
                                </repository>
                                <repository>
                                  <id>centralWso2</id>
                                  <url>https://maven.wso2.org/nexus/content/repositories/wso2-public/</url>
                                  <releases><enabled>true</enabled></releases>
                                  <snapshots><enabled>true</enabled></snapshots>
                                </repository>
                                <repository>
                                  <id>github</id>
                                  <name>GitHub ballerina-platform Apache Maven Packages</name>
                                  <url>https://maven.pkg.github.com/ballerina-platform/ballerina-lang</url>
                                </repository>
                              </repositories>
                            </profile>
                          </profiles>
                          <servers>
                            <server>
                              <id>github</id>
                              <username>${{ secrets.BALLERINA_BOT_USERNAME }}</username>
                              <password>${{ secrets.BALLERINA_BOT_TOKEN }}</password>
                            </server>
                          </servers>
                          <mirrors>
                            <mirror>
                              <id>insecure-repo</id>
                              <mirrorOf>external:http:*</mirrorOf>
                              <url>http://maven.wso2.org/nexus/content/repositories/releases/</url>
                              <blocked>false</blocked>
                            </mirror>
                            <mirror>
                              <id>insecure-repo2</id>
                              <mirrorOf>external:http:*</mirrorOf>
                              <url>https://maven.wso2.org/nexus/content/repositories/wso2-public/</url>
                              <blocked>false</blocked>
                            </mirror>
                          </mirrors>
                        </settings>' > ~/.m2/settings.xml
            - name: print file
              run: cat ~/.m2/settings.xml
            - name: Maven Build
              run: mvn clean install 
            - name: Ballerina Download
              run: sudo wget https://dist.ballerina.io/downloads/swan-lake-beta2/ballerina-swan-lake-beta2.zip
            - name: Use Ballerina zip version
              run: sudo apt-get install -y unzip
            - run: sudo unzip  ballerina-swan-lake-beta2.zip
              env: 
                  JAVA_HOME: /usr/lib/jvm/default-jvm
                  JAVA_OPTS: -DBALLERINA_DEV_COMPILE_BALLERINA_ORG=true 
            - name: Ballerina Build 
              run: /home/runner/work/module-ballerinax-redis/module-ballerinax-redis/ballerina-swan-lake-beta2/bin/bal build redis
