name: CI

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Set up JDK 11
              uses: actions/setup-java@v1
              with:
                java-version: 11 
            - name: Maven Build
              run: mvn clean install 
            - name: Ballerina Download
              run: sudo wget https://dist.ballerina.io/downloads/swan-lake-preview8/ballerina-swan-lake-preview8.zip
            - run: sudo apt install redis-server
            - run: sudo service redis-server stop
            - run: sudo systemctl status redis
            - name: Use Ballerina zip version
              run: sudo apt-get install -y unzip
            - run: sudo unzip  ballerina-swan-lake-preview8.zip
              env: 
                  JAVA_HOME: /usr/lib/jvm/default-jvm
                  JAVA_OPTS: -DBALLERINA_DEV_COMPILE_BALLERINA_ORG=true 
            - name: Ballerina Build 
              run: /home/runner/work/module-ballerinax-redis/module-ballerinax-redis/ballerina-swan-lake-preview8/bin/ballerina build redis
